@model AddNoteViewModel

<h1>Notes for @Model.Name</h1>

<table>
    <tr>
        <th>NoteID</th>
        <th>CandidateID</th>
        <th>Date</th>
        <th>Note</th>
        <th>Delete Note</th>
    </tr>
    @foreach (var note in @Model.Notes)
    {
        <tr>
            <td>@note.NoteID</td>
            <td>@note.CandidateID</td>
            <td>@note.Date</td>
            <td>@note.Note</td>
            <td>
                @Html.ActionLink("Delete Note", "DeleteNote", "Users", 
                new {@note.CandidateID, @Model.Name, @note.NoteID})
            </td>
        </tr>
    }
</table>