<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

@model List<BaseUser>
<h1>Grand Circus Referrals</h1>

<table>
    <tr>
        <th>Interested</th>
        <th>Name</th>
        <th>Bootcamp</th>
        <th>Grad Status</th>
        <th>Year</th>
        <th>City</th>
        <th>State</th>
        <th>Employment Status</th>
        <th>Employer</th>
        <th>App Status</th>
        <th>Date</th>
        <th>Latest Note</th>
        <th>Add Note</th>
    </tr>
    @foreach (var user in @Model)
    {
        <tr>
            @if (@user.InterestFlag == 1)
            {
                <td class="yes">Yes</td>
            }
            else
            {
                <td class="no">No</td>
            }
            <td>@user.Name</td>
            <td>@user.Bootcamp</td>
            @if (@user.GraduationFlag == 1)
            {
                <td>Graduated</td>
            }
            else
            {
                <td>Not Graduated</td>
            }
            <td>@user.GraduationYear</td>
            <td>@user.City</td>
            <td>@user.State</td>
            <td>@user.EmploymentStatus</td>
            <td>@user.Employer</td>
            
            <td>@user.ApplicationStatus</td>
            <td>@user.LatestNote.Date</td>
            <td>@user.LatestNote.Note</td>
            <td>
                @Html.ActionLink("View All Notes", "AddNote", "Users", user)
            </td>
        </tr>
    }
</table>
